@{
    ViewData["Title"] = "Home Page / QA";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto!</h1>
    <p>Impara a <a href="https://docs.microsoft.com/aspnet/core">costruire App Web con ASP.NET Core</a>.</p>
    <p>Versione 001 - abilitato trigger build</p>
    <p>Versione 002 - multibranch CI pipeline</p>
    <p>Versione 002b - trigger</p>
</div>
